*
!README.md
!Makefile
!.gitignore
!src/
!src/Makefile
!src/core_hook.c
!src/core_hook.h
!src/core_types.h
!src/ecc.c
!src/ecc.h
!src/hollywood.h
!src/ios.c
!src/ios.h
!src/mmio.c
!src/mmio.h
!src/mmu.c
!src/mmu.h
!src/sha1.c
!src/sha1.h
!src/starlet.c
!src/starlet.h
!src/test.c
!src/util.c
!src/util.h
!tests/
!tests/Makefile
!tests/stfu.c
!tests/test_boot0.c
!tests/test_boot1.c
